# Virtual environments
venv/
env/
ENV/
.venv/

# Игнорируем всё, кроме chip_images
uploads/*
!uploads/chip_images/
!uploads/chip_images/**

# Явно игнорируем пользовательские папки (на случай, если внутри что-то есть)
uploads/avatars/
uploads/user_photos/
uploads/news_images/
uploads/feedback_images/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db